.currency-table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  text-align: left;
  border-collapse: collapse;
  background: #252F48;
  margin: 10px;
}
.currency-table th {
  color: #EDB749;
  border-bottom: 1px solid #37B5A5;
  padding: 12px 17px;
  text-align: center;
}
.currency-table td {
  color: #CAD4D6;
  border-bottom: 1px solid #37B5A5;
  border-right:1px solid #37B5A5;
  padding: 7px 17px;
}
.currency-table tr:last-child td {
  border-bottom: none;
}
.currency-table td:last-child {
  border-right: none;
}
.currency-table tr:hover td {
  text-decoration: underline;
}
